@import './mdb/mdb.free.scss';

$color-active: rgb(53, 29, 97);
$font-heading: 'Pacifico', sans-serif;

html {
  @media print {
    background-color: $white;
  }
}

body {
  background-color: $body-bg;
  min-height: 100vh;

  @media print {
    background-color: $white;
  }
}

main {
  padding-bottom: 5rem;
}

/* Section header */

.header {
  background: $primary;
  background: $header-gradient;

  @media print {
    background: $white;
  }

  &-title {
    font-family: $font-heading;

    @media print {
      color: $black !important; // sorry Bootstrap feels important too
    }

    .icon {
      @media print {
        color: $black !important; // sorry Bootstrap feels important too
      }
    }
  }
}

/* Block */

.block {
  &-title {
    @extend .title;
    top: -0.75rem;
    @media print {
      color: black !important;
    }
  }

  &-container {
    @media print {
      background-color: $white !important;
      columns: auto 2;
      height: 100%;
    }
  }

  &-category {
    @media print {
      column-span: none;
      break-inside: avoid;
    }
  }
}

@include media-breakpoint-up(md) {
  .block-title {
    top: -1.25rem;
  }
}

/* Form section */
.title {
  font-family: $font-heading;
}

.btn-print {
  top: -0.75rem;
  right: 1 * $spacer;
}

@include media-breakpoint-up(sm) {
  .btn-print {
    right: 1.5 * $spacer;
  }
}

@include media-breakpoint-up(lg) {
  .btn-print {
    right: 3 * $spacer;
  }
}

.form-check-input {
  width: 1rem;
  height: 1rem;
}

.form-check-input:checked {
  + label {
    text-decoration: line-through;
  }
}

/* Select section */
.form-select {
  background-color: $light;
  &:focus {
    box-shadow: 0 0 0 1px $primary;
  }
}

/* Error Box */
.errorBox {
  padding: 1rem;
  ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }
}

/* Product list */
.category-title {
  @extend .title;
  color: $primary;
  @media print {
    color: black !important;
  }
}

.list-summary {
  p {
    line-height: 1.5rem;
    margin: 0;
  }

  strong {
    @media print {
      color: black !important;
    }
  }
}

.list-column {
  &-name {
    @media print {
      width: 70%;
    }
  }
  &-number {
    @media print {
      width: 20%;
    }
  }
  &-weight {
    @media print {
      width: 10%;
    }
  }
}

/* Footer section */
.footer {
  background-color: white;

  &__link {
    color: $color-active;
    margin-left: 0.5rem;
  }
}

/* Utilities */
.rounded-4 {
  border-radius: $border-radius-xxlg;
}

.icon {
  color: $color-active;
  margin: 0 0.5rem;
}

.btn-floating {
  &:hover {
    box-shadow: $box-shadow-1-strong;
  }
  &:focus {
    color: white;
    background-color: $primary;
  }
}

// expand bootstrap font-size
.fs-7 {
  font-size: $font-size-small;
}
