@import './mdb/mdb.free.scss';

$color-active: rgb(53, 29, 97);
$font-heading: 'Pacifico', sans-serif;

html {
  background-color: $body-bg;
}

body {
  min-height: 100vh;
}

main {
  padding-bottom: 5rem;
}

/* Section header */

.header {
  background: $primary;
  background: $header-gradient;
  &__title {
    font-family: $font-heading;
  }
}

/* Form section */
.title {
  font-family: $font-heading;
}

.block-title {
  @extend .title;
  top: -0.75rem;
}

/* Select section */
.form-select {
  background-color: $light;
  &:focus {
    box-shadow: 0 0 0 1px $primary;
  }
}

/* Error Box */
.errorBox {
  padding: 1rem;
  ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }
}

/* Product list */
.category-title {
  @extend .title;
  color: $primary;
}

@include media-breakpoint-up(md) {
  .block-title {
    top: -1.25rem;
  }
}

.list-summary {
  p {
    line-height: 1.5rem;
    margin: 0;
  }
}

/* Footer section */
.footer {
  background-color: white;

  &__link {
    color: $color-active;
    margin-left: 0.5rem;
  }
}

/* Utilities */
.rounded-4 {
  border-radius: $border-radius-xxlg;
}

.icon {
  color: $color-active;
  margin: 0 0.5rem;
}
